.mule/plugins-tmp/org.mule.tooling.ui.contribution.microsoftservicebus.3.5.0_1.1.0.201610041359/__schema/mule-microsoftservicebus.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:ns2="http://www.mulesoft.org/schema/mule/devkit" xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/microsoftservicebus" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="azureSASConfig">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="tokens">
              <xs:annotation>
                <xs:documentation></xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="token">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute type="xs:string" use="optional" name="value-ref"></xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute type="xs:string" use="optional" name="ref">
                  <xs:annotation>
                    <xs:documentation>The reference object for this parameter</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element type="mule:poolingProfileType" minOccurs="0" name="connection-pooling-profile">
              <xs:annotation>
                <xs:documentation>Characteristics of the connection pool.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="mule:abstract-reconnection-strategy">
              <xs:annotation>
                <xs:documentation>Reconnection strategy that defines how Mule should handle a connection failure.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>Give a name to this configuration so it can be later referenced by config-ref.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="tokenProvider-ref">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="namespace">
            <xs:annotation>
              <xs:documentation>Azure Service Namespace</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="sharedAccessSignature">
            <xs:annotation>
              <xs:documentation>Shared Access Signature (optional - can be left empty if advanced section is configured)</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="windowsConfig">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element type="mule:poolingProfileType" minOccurs="0" name="connection-pooling-profile">
              <xs:annotation>
                <xs:documentation>Characteristics of the connection pool.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="mule:abstract-reconnection-strategy">
              <xs:annotation>
                <xs:documentation>Reconnection strategy that defines how Mule should handle a connection failure.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>Give a name to this configuration so it can be later referenced by config-ref.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="namespace">
            <xs:annotation>
              <xs:documentation>Azure Service Namespace</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="username">
            <xs:annotation>
              <xs:documentation>Shared Key Name</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="password">
            <xs:annotation>
              <xs:documentation>Shared Key</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="fqdn">
            <xs:annotation>
              <xs:documentation>Fully Qualified Domain Name</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="optional" default="9355" name="port">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="disableCnCheck">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="azureConfig">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element type="mule:poolingProfileType" minOccurs="0" name="connection-pooling-profile">
              <xs:annotation>
                <xs:documentation>Characteristics of the connection pool.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="mule:abstract-reconnection-strategy">
              <xs:annotation>
                <xs:documentation>Reconnection strategy that defines how Mule should handle a connection failure.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>Give a name to this configuration so it can be later referenced by config-ref.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="namespace">
            <xs:annotation>
              <xs:documentation>Azure Service Namespace</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="userName">
            <xs:annotation>
              <xs:documentation>Shared Key Name</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" use="required" name="password">
            <xs:annotation>
              <xs:documentation>Shared Key</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Topic-sendType" substitutionGroup="mule:abstract-message-processor" name="topic-send">
    <xs:annotation>
      <xs:documentation>Sends a message to a Topic

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AmqpHeaderObjectType">
    <xs:sequence></xs:sequence>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" name="durable">
      <xs:annotation>
        <xs:documentation>specify durability requirements</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="integerType" use="optional" name="priority">
      <xs:annotation>
        <xs:documentation>relative message priority</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="longType" use="optional" name="ttl">
      <xs:annotation>
        <xs:documentation>time to live in ms</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="integerType" use="optional" name="deliveryCount">
      <xs:annotation>
        <xs:documentation>the number of prior unsuccessful delivery attempts</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AmqpPropertiesObjectType">
    <xs:sequence></xs:sequence>
    <xs:attribute type="xs:string" use="optional" name="messageId">
      <xs:annotation>
        <xs:documentation>application message identifier</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="contentType">
      <xs:annotation>
        <xs:documentation>MIME content type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="correlationId">
      <xs:annotation>
        <xs:documentation>application correlation identifier</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="to">
      <xs:annotation>
        <xs:documentation>the address of the node the message is destined for</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="replyTo">
      <xs:annotation>
        <xs:documentation>the node to send replies to</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="userId">
      <xs:annotation>
        <xs:documentation>creating user id</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="subject">
      <xs:annotation>
        <xs:documentation>the subject of the message</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Topic-sendType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="header">
            <xs:annotation>
              <xs:documentation>The supported Header fields defined in the AMQP 1.0 standard</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="AmqpHeaderObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="properties">
            <xs:annotation>
              <xs:documentation>The supported Amqp Properties defined in the AMQP 1.0 Standard</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="AmqpPropertiesObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="destinationTopic">
          <xs:annotation>
            <xs:documentation>The name of the destination of the message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="body-ref">
          <xs:annotation>
            <xs:documentation>The content of the message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Queue-sendType" substitutionGroup="mule:abstract-message-processor" name="queue-send">
    <xs:annotation>
      <xs:documentation>Sends a message to a Queue

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Queue-sendType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="header">
            <xs:annotation>
              <xs:documentation>The supported Header fields defined in the AMQP 1.0 standard</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="AmqpHeaderObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="properties">
            <xs:annotation>
              <xs:documentation>The supported Amqp Properties defined in the AMQP 1.0 Standard</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="AmqpPropertiesObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="destinationQueue">
          <xs:annotation>
            <xs:documentation>The name of the destination of the message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" default="#[payload]" name="body-ref">
          <xs:annotation>
            <xs:documentation>The content of the message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Queues-listType" substitutionGroup="mule:abstract-message-processor" name="queues-list">
    <xs:annotation>
      <xs:documentation>Retrieves all existing queues from the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Queues-listType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Queue-getType" substitutionGroup="mule:abstract-message-processor" name="queue-get">
    <xs:annotation>
      <xs:documentation>Retrieves the specified queue from the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Queue-getType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="queuePath">
          <xs:annotation>
            <xs:documentation>The name of the queue</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Queue-createType" substitutionGroup="mule:abstract-message-processor" name="queue-create">
    <xs:annotation>
      <xs:documentation>Creates a queue in the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ServiceBusQueueDescriptionObjectType">
    <xs:sequence></xs:sequence>
    <xs:attribute type="xs:string" use="optional" default="PT1M" name="lockDuration">
      <xs:annotation>
        <xs:documentation>Determines the amount of time in seconds in which a message should be locked for processing by a receiver. After this period, the message is unlocked and available for
consumption by the next receiver. Settable only at queue creation time.
Valid values: Range: 0 – 5 minutes. 0 means that the message is not locked.
Format: PTx3Mx4S , where x1 number of days, x2 number of hours, x3 number of minutes, x4 number of seconds (Examples: PT5M (5 minutes) , PT1M30S (1 minute, 30 seconds)).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="longType" use="optional" default="1024" name="maxSizeInMegabytes">
      <xs:annotation>
        <xs:documentation>Specifies the maximum queue size in megabytes. Any attempt to enqueue a message that will cause the queue to exceed this value will fail. Valid values are: 1024, 2048, 3072, 4096, 5120</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="requiresDuplicateDetection">
      <xs:annotation>
        <xs:documentation>Settable only at queue creation time.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="requiresSession">
      <xs:annotation>
        <xs:documentation>Settable only at queue creation time. If set to true, the queue will be session-aware and only SessionReceiver will be supported. Session-aware queues are not supported through REST.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="deadLetteringOnMessageExpiration">
      <xs:annotation>
        <xs:documentation>This field controls how the Service Bus handles a message with an expired TTL. If it is enabled and a message expires, Service Bus moves the message from the queue into the queue’s dead-letter
sub-queue. If disabled, message is permanently deleted from the queue. Settable only at queue creation time.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="true" name="enableBatchedOperations">
      <xs:annotation>
        <xs:documentation>Enables or disables service-side batching behavior when performing operations for the specific queue. When enabled, Service Bus collects/batches multiple operations to the back end, in order
to be more efficient with the connection. If you want lower operation latency, you can disable this feature.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" default="P10675199DT2H48M5.4775807S" name="defaultMessageTimeToLive">
      <xs:annotation>
        <xs:documentation>Depending on whether DeadLettering is enabled, a message is automatically moved to the DeadLetterQueue or deleted if it has been stored in the queue for longer than the specified time.
This value is overwritten by a TTL specified on the message if and only if the message TTL is smaller than the TTL set on the queue. This value is immutable after the queue has been created.
Format: Px1DTx2Hx3Mx4S , where x1 number of days, x2 number of hours, x3 number of minutes, x4 number of seconds (Examples: PT10M (10 minutes), P1DT2H (1 day, 2 hours)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" default="PT10M" name="duplicateDetectionHistoryTimeWindow">
      <xs:annotation>
        <xs:documentation>Specifies the time span during which Service Bus detects message duplication
Valid values: Range: 1 second – 7 days.
Format: Px1DTx2Hx3Mx4S , where x1 number of days, x2 number of hours, x3 number of minutes, x4 number of seconds (Examples: PT10M (10 minutes), P1DT2H (1 day, 2 hours)).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="integerType" use="optional" default="10" name="maxDeliveryCount">
      <xs:annotation>
        <xs:documentation>The maximum number of times Service Bus tries to deliver a message before being dead-lettered or discarded.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Queue-createType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="queue-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusQueueDescription object containing the desired values of the queue’s properties that will be created</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusQueueDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="queuePath">
          <xs:annotation>
            <xs:documentation>The name of the queue</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Queue-updateType" substitutionGroup="mule:abstract-message-processor" name="queue-update">
    <xs:annotation>
      <xs:documentation>Updates the specified queue in the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Queue-updateType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="queue-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusQueueDescription oject containing the desired values of the queue’s properties that will be updated</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusQueueDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="queuePath">
          <xs:annotation>
            <xs:documentation>The name of the queue</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Queue-deleteType" substitutionGroup="mule:abstract-message-processor" name="queue-delete">
    <xs:annotation>
      <xs:documentation>Deletes the specified queue in the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Queue-deleteType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="queuePath">
          <xs:annotation>
            <xs:documentation>The name of the queue</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Topics-listType" substitutionGroup="mule:abstract-message-processor" name="topics-list">
    <xs:annotation>
      <xs:documentation>Retrieves all existing topics from the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Topics-listType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Topic-getType" substitutionGroup="mule:abstract-message-processor" name="topic-get">
    <xs:annotation>
      <xs:documentation>Retrieves the specified topic from the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Topic-getType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Topic-createType" substitutionGroup="mule:abstract-message-processor" name="topic-create">
    <xs:annotation>
      <xs:documentation>Creates a topic in the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ServiceBusTopicDescriptionObjectType">
    <xs:sequence></xs:sequence>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="longType" use="optional" default="1024" name="maxSizeInMegabytes">
      <xs:annotation>
        <xs:documentation>Specifies the maximum queue size in megabytes. Any attempt to enqueue a message that will cause the queue to exceed this value will fail.
Valid values are: 1024, 2048, 3072, 4096, 5120</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="requiresDuplicateDetection">
      <xs:annotation>
        <xs:documentation>If enabled, the topic detects duplicate messages within the time span specified by the DuplicateDetectionHistoryTimeWindow property. Settable only at topic creation time.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="true" name="enableBatchedOperations">
      <xs:annotation>
        <xs:documentation>Enables or disables service side batching behavior when performing operations for the specific queue. When enabled, Service Bus collects/batches multiple operations to the
back end in order to be more connection efficient. If you want lower operation latency, you can disable this feature.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" default="P10675199DT2H48M5.4775807S" name="defaultMessageTimeToLive">
      <xs:annotation>
        <xs:documentation>Determines how long a message lives in the associated subscriptions. Subscriptions inherit the TTL from the topic unless they are created explicitly with a smaller TTL. Based on whether dead-lettering is enabled, a message whose TTL has expired will either be moved to the subscription’s associated DeadLtterQueue or will be permanently deleted.
Format: Px1DTx2Hx3Mx4S , where x1 number of days, x2 number of hours, x3 number of minutes, x4 number of seconds (Examples: PT10M (10 minutes), P1DT2H (1 day, 2 hours)).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" default="PT10M" name="duplicateDetectionHistoryTimeWindow">
      <xs:annotation>
        <xs:documentation>Specifies the time span during which Service Bus detects message duplication
Valid values: Range: 1 second – 7 days.
Format: Px1DTx2Hx3Mx4S , where x1 number of days, x2 number of hours, x3 number of minutes, x4 number of seconds (Examples: PT10M (10 minutes), P1DT2H (1 day, 2 hours)).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Topic-createType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="topic-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusTopicDescription object containing the desired values of the topic’s properties that will be created.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusTopicDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Topic-updateType" substitutionGroup="mule:abstract-message-processor" name="topic-update">
    <xs:annotation>
      <xs:documentation>Updates the specified topic from the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Topic-updateType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="topic-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusTopicDescription object containing the desired values of the topic’s properties that will be updated.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusTopicDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Topic-deleteType" substitutionGroup="mule:abstract-message-processor" name="topic-delete">
    <xs:annotation>
      <xs:documentation>Deletes the specified topic from the service bus instance

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Topic-deleteType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Subscriptions-listType" substitutionGroup="mule:abstract-message-processor" name="subscriptions-list">
    <xs:annotation>
      <xs:documentation>Retrieves all subscriptions from the specified topic

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Subscriptions-listType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Subscription-getType" substitutionGroup="mule:abstract-message-processor" name="subscription-get">
    <xs:annotation>
      <xs:documentation>Retrieves the specified subscription from the specified topic

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Subscription-getType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Subscription-createType" substitutionGroup="mule:abstract-message-processor" name="subscription-create">
    <xs:annotation>
      <xs:documentation>Creates a subscription in the specified topic

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ServiceBusSubscriptionDescriptionObjectType">
    <xs:sequence></xs:sequence>
    <xs:attribute type="xs:string" use="optional" default="PT1M" name="lockDuration">
      <xs:annotation>
        <xs:documentation>The default lock duration is applied to subscriptions that do not define a lock duration. You can only set this property at subscription creation time.
Valid values: Range: 0 – 5 minutes. 0 means that the message is not locked.
Format: PTx3Mx4S , where x1 number of days, x2 number of hours, x3 number of minutes, x4 number of seconds (Examples: PT5M (5 minutes) , PT1M30S (1 minute, 30 seconds)).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="requiresSession">
      <xs:annotation>
        <xs:documentation>You can only set this property at subscription creation time. If set to true, the subscription will be session-aware and only SessionReceiver will be supported.
Session-aware subscriptions are not supported through REST.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="deadLetteringOnMessageExpiration">
      <xs:annotation>
        <xs:documentation>This field controls how Service Bus handles a message with an expired TTL. If it is enabled and a message expires, Service Bus moves the message from the queue into the subscription’s
dead-letter sub-queue. If disabled, message is permanently deleted from the subscription’s main queue. Settable only at subscription creation time.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="deadLetteringOnFilterEvaluationExceptions">
      <xs:annotation>
        <xs:documentation>Determines how Service Bus handles a message that causes an exception during a subscription’s filter evaluation. If the value is set to true, the message that caused the exception is
moved to the subscription’s dead-letter queue. Otherwise, it is discarded. By default, this parameter is set to true, enabling you to investigate the cause of the exception. It can
occur from a malformed message or some incorrect assumptions being made in the filter about the form of the message. Settable only at subscription creation time.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="booleanType" use="optional" default="false" name="enableBatchedOperations">
      <xs:annotation>
        <xs:documentation>Enables or disables service-side batching behavior when performing operations for the specific queue. When enabled, Service Bus will collect/batch multiple operations to the backend
to be more connection efficient. If you want lower operation latency, then you can disable this feature.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" default="P10675199DT2H48M5.4775807S" name="defaultMessageTimeToLive">
      <xs:annotation>
        <xs:documentation>Determines how long a message lives in the subscription. Based on whether dead-lettering is enabled, a message whose Time To Live (TTL) has expired is either moved to the subscription’s
associated DeadLetterQueue, or permanently deleted. If the topic specifies a smaller TTL than the subscription, the topic TTL is applied.
Format: Px1DTx2Hx3Mx4S , where x1 number of days, x2 number of hours, x3 number of minutes, x4 number of seconds (Examples: PT10M (10 minutes), P1DT2H (1 day, 2 hours)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="integerType" use="optional" default="10" name="maxDeliveryCount">
      <xs:annotation>
        <xs:documentation>The maximum number of times Service Bus tries to deliver a message before that message is dead lettered or discarded.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Subscription-createType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="subscription-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusSubscriptionDescription object containing the desired values of the subscription’s properties that will be created</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusSubscriptionDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Subscription-updateType" substitutionGroup="mule:abstract-message-processor" name="subscription-update">
    <xs:annotation>
      <xs:documentation>Updates the specified subscription from the specified topic

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Subscription-updateType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="subscription-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusSubscriptionDescription object containing the desired values of the subscription’s properties that will be updated</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusSubscriptionDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Subscription-deleteType" substitutionGroup="mule:abstract-message-processor" name="subscription-delete">
    <xs:annotation>
      <xs:documentation>Deletes the specified subscription from the specified topic

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Subscription-deleteType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Rules-listType" substitutionGroup="mule:abstract-message-processor" name="rules-list">
    <xs:annotation>
      <xs:documentation>Retrieves all rules from the specified topic and subscription

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Rules-listType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Rule-getType" substitutionGroup="mule:abstract-message-processor" name="rule-get">
    <xs:annotation>
      <xs:documentation>Retrieves the specified rule from the specified topic and subscription

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Rule-getType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="rulePath">
          <xs:annotation>
            <xs:documentation>The name of the rule</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Rule-createType" substitutionGroup="mule:abstract-message-processor" name="rule-create">
    <xs:annotation>
      <xs:documentation>Creates a rule in the specified topic and subscription

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ServiceBusRuleFilterObjectType">
    <xs:sequence></xs:sequence>
    <xs:attribute type="xs:string" use="optional" name="sqlExpression">
      <xs:annotation>
        <xs:documentation>The sql expression for filtering messages. SqlFilter must be selected in the filter type in order to be applied. Example: MyProperty = 'value'</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="correlationId">
      <xs:annotation>
        <xs:documentation>The id to match in case the filter is a CorrelationFilter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="ServiceBusRuleFilterTypeEnumType" use="optional" name="type">
      <xs:annotation>
        <xs:documentation>Valid values are:
SqlFilter: A type of Filter that is represented by SQL expression.
TrueFilter/FalseFiilter: A handy shortcut for always returning true or false. They are a type of SqlFilter.
CorrelationFilter: A type of Filter that matches CorrelationId property of BrokeredMessage.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ServiceBusRuleActionObjectType">
    <xs:sequence></xs:sequence>
    <xs:attribute type="xs:string" use="optional" name="sqlExpression">
      <xs:annotation>
        <xs:documentation>The sql expression of the action to be performed. Example: SET MyProperty = 'ABC'</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" type="ServiceBusRuleActionTypeEnumType" use="optional" name="type">
      <xs:annotation>
        <xs:documentation>Valid values are:
SqlFilterAction: A type of FilterAction that is represented by SQL expression.
EmptyRuleAction: A type of FilterAction that represents an empty action.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ServiceBusRuleDescriptionObjectType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="filter">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusRuleFilterObjectType"></xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="action">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent>
            <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusRuleActionObjectType"></xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" use="optional" name="ref">
      <xs:annotation>
        <xs:documentation>The reference object for this parameter</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Rule-createType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="rule-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusRuleDescription object containing the desired values of the rule’s properties that will be created</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusRuleDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="rulePath">
          <xs:annotation>
            <xs:documentation>The name of the rule</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Rule-updateType" substitutionGroup="mule:abstract-message-processor" name="rule-update">
    <xs:annotation>
      <xs:documentation>Updates the specified rule from the specified topic and subscription

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Rule-updateType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="rule-description">
            <xs:annotation>
              <xs:documentation>A ServiceBusRuleDescription object containing the desired values of the rule’s properties that will be updated</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" base="ServiceBusRuleDescriptionObjectType"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="rulePath">
          <xs:annotation>
            <xs:documentation>The name of the rule</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Rule-deleteType" substitutionGroup="mule:abstract-message-processor" name="rule-delete">
    <xs:annotation>
      <xs:documentation>Deletes the specified rule from the specified topic and subscription

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Rule-deleteType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="topicPath">
          <xs:annotation>
            <xs:documentation>The name of the topic</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscriptionPath">
          <xs:annotation>
            <xs:documentation>The name of the subscription</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="rulePath">
          <xs:annotation>
            <xs:documentation>The name of the rule</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Queue-receiveType" substitutionGroup="mule:abstract-inbound-endpoint" name="queue-receive">
    <xs:annotation>
      <xs:documentation>Endpoint for receiving message from a Queue

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Queue-receiveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractInboundEndpointType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="sourceQueue">
          <xs:annotation>
            <xs:documentation>The name of the source from where the messages will be retrieved</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/microsoftservicebus" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Topic-receiveType" substitutionGroup="mule:abstract-inbound-endpoint" name="topic-receive">
    <xs:annotation>
      <xs:documentation>Endpoint for receiving message from a Topic

{@sample.xml ../../../doc/microsoftservicebus-connector.xml.sample microsoftservicebus:myProcessor}</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Topic-receiveType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractInboundEndpointType">
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="sourceTopic">
          <xs:annotation>
            <xs:documentation>The name of the source from where the messages will be retrieved</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="subscription">
          <xs:annotation>
            <xs:documentation>The name of the subscription from where the messages will be retrieved</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ServiceBusRuleActionTypeEnumType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SqlRuleAction">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="EmptyRuleAction">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="ServiceBusRuleFilterTypeEnumType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SqlFilter">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="TrueFilter">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FalseFilter">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CorrelationFilter">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="OnNoTokenPolicyEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EXCEPTION"></xs:enumeration>
          <xs:enumeration value="STOP_FLOW"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="integerType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:integer"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="decimalType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:decimal"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="floatType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:float"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="doubleType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:double"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="dateTimeType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:dateTime"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="longType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:long"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="byteType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:byte"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="booleanType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:boolean"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="anyUriType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:anyURI"></xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="charType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"></xs:minLength>
          <xs:maxLength value="1"></xs:maxLength>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>